[flake8]
max-line-length = 100

ignore =
    # these rules don't play well with black
    # whitespace before ':'
    E203
    # line break before binary operator
    W503
    E241,E305,W504,W605,E731

exclude =
    .git
    .github
    .venv
    .mypy_cache
    .pytest_cache
    .circleci
    paper
    setup.py
    doc

per-file-ignores =
    # __init__.py files are allowed to have unused imports
    */__init__.py:F401
    */**/__init__.py:F401
