trigger:
  # start a new build for every push
  batch: False
  branches:
    include:
      - main
      - maint/*

jobs:
- job: Windows
  pool:
    vmIMage: 'windows-latest'
  variables:
    MNE_LOGGING_LEVEL: 'warning'
    MNE_FORCE_SERIAL: 'true'
    OPENBLAS_NUM_THREADS: 1
    AZURE_CI_WINDOWS: 'true'
  strategy:
    maxParallel: 4
    matrix:
      Python39-64bit-full-pip:
        PYTHON_VERSION: '3.9'
        PYTHON_ARCH: 'x64'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: $(PYTHON_VERSION)
      architecture: $(PYTHON_ARCH)
      addToPath: true
    condition: eq(variables['TEST_MODE'], 'pip')
  - powershell: |
      Set-StrictMode -Version Latest
      $ErrorActionPreference = "Stop"
      $PSDefaultParameterValues['*:ErrorAction']='Stop'
      pip install --upgrade --pre numpy scipy matplotlib
      pip install https://api.github.com/repos/mne-tools/mne-python/zipball/main
      pip install --upgrade -r requirements.txt -r requirements_testing.txt codecov
    displayName: 'Install dependencies with pip'
  - script: python setup.py develop
    displayName: 'Install MNE-ICALabel'
  - bash: |
      set -e
      git clone --depth 1 https://github.com/pyvista/gl-ci-helpers.git
      powershell gl-ci-helpers/appveyor/install_opengl.ps1
  - script: python -c "import mne; print(mne.sys_info())"
    displayName: 'Print config'
  - script: python -c "import mne; mne_icalabel.datasets.icalabel.data_path(verbose=True)"
    displayName: 'Get test data'
  - script: pytest mne_icalabel
    displayName: 'Run tests'
  - script: codecov --root %BUILD_REPOSITORY_LOCALPATH% -t %CODECOV_TOKEN%
    displayName: 'Codecov'
    env:
      CODECOV_TOKEN: $(CODECOV_TOKEN)
    condition: always()
  - task: PublishTestResults@2
    inputs:
      testResultsFiles: 'junit-*.xml'
      testRunTitle: 'Publish test results for Python $(python.version)'
    condition: always()
