memory_profiler
sphinx
sphinx-gallery
sphinx_rtd_theme
sphinx-copybutton
numpydoc
pydata-sphinx-theme==0.14.1
typing-extensions
sphinx-autodoc-typehints
sphinxcontrib-bibtex
mne-bids
pooch
matplotlib
