on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
    paths:
      - "paper/*"

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Paper Draft
    steps:
      - uses: actions/checkout@v4
      - uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: paper/paper.md
      - uses: actions/upload-artifact@v4
        with:
          name: paper
          path: paper/paper.pdf
